<a href="https://colab.research.google.com/github/alpapathak/ChoreChart/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
data = {
    'Title': ['Inception', 'Dunkirk', 'Interstellar', 'The Prestige', 'Memento'],
    'Director': ['Christopher Nolan', 'Christopher Nolan', 'Christopher Nolan', 'Christopher Nolan', 'Christopher Nolan'],
    'Rating': [8.8, 7.9, 8.6, 8.5, 8.4]
}
df = pd.DataFrame(data)
#print(df)
row_loc = df.loc[:, 'Rating']
#print(row_loc)
rows_mean = row_loc.mean()
#print(rows_mean)

          Title           Director  Rating
0     Inception  Christopher Nolan     8.8
1       Dunkirk  Christopher Nolan     7.9
2  Interstellar  Christopher Nolan     8.6
3  The Prestige  Christopher Nolan     8.5
4       Memento  Christopher Nolan     8.4
0    8.8
1    7.9
2    8.6
3    8.5
4    8.4
Name: Rating, dtype: float64
8.440000000000001

In [7]:
#Given the following DataFrame, write a Python program using Pandas to extract all rows where the price is greater than or equal to 20,000
#and sort them in descending order by price.



data = {

    'Product': ['Laptop', 'Desktop', 'Tablet', 'Phone', 'Smartwatch'],

    'Price': [25000, 12000, 8000, 22000, 5000]

}



df = pd.DataFrame(data)
cond_df =df[df['Price'] >=  20000]
#print(cond_df)
sort_cond = cond_df.sort_values(by='Price', ascending=False)
#print(sort_cond)

  Product  Price
0  Laptop  25000
3   Phone  22000
  Product  Price
0  Laptop  25000
3   Phone  22000

In [8]:
#Write a Python program using Pandas to create a DataFrame from the given data
# and find the total revenue and average price of items sold in each store.



data = {

    'Store': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],

    'Item': ['Apple', 'Banana', 'Orange', 'Grape', 'Apple', 'Banana', 'Orange', 'Grape'],

    'Price': [50, 20, 30, 60, 55, 22, 33, 65],

    'Quantity': [10, 12, 15, 16, 20, 25, 30, 35]

}
df = pd.DataFrame(data)

tot_col = df.loc[:, 'Price']
print(tot_col)
avg_price = tot_col.mean()
print(avg_price)
avg_price = df.groupby('Store')['Price'].mean()
print(avg_price)

0    50
1    20
2    30
3    60
4    55
5    22
6    33
7    65
Name: Price, dtype: int64
41.875
Store
A    42.00
B    41.75
Name: Price, dtype: float64

In [13]:
#Write a Python program using Pandas to create a DataFrame from the given data and
# calculate the total amount spent by each customer.



data = {

    'Customer': ['Alice', 'Bob', 'Alice', 'Alice', 'Bob', 'Bob', 'Alice', 'Bob'],

    'Item': ['Pen', 'Pencil', 'Notebook', 'Eraser', 'Pen', 'Pencil', 'Notebook', 'Eraser'],

    'Price': [10, 5, 50, 20, 10, 5, 50, 20],

    'Quantity': [3, 4, 2, 5, 10, 6, 1, 2]

}
df = pd.DataFrame(data)
print(df)
sorted_values = df.sort_values(by='Customer')
print(sorted_values)
#tot_col = df.loc[:, 'Price']
#print(tot_col)
tot_bycust = df.groupby('Customer')['Price'].sum()
print(tot_bycust)

  Customer      Item  Price  Quantity
0    Alice       Pen     10         3
1      Bob    Pencil      5         4
2    Alice  Notebook     50         2
3    Alice    Eraser     20         5
4      Bob       Pen     10        10
5      Bob    Pencil      5         6
6    Alice  Notebook     50         1
7      Bob    Eraser     20         2
  Customer      Item  Price  Quantity
0    Alice       Pen     10         3
2    Alice  Notebook     50         2
3    Alice    Eraser     20         5
6    Alice  Notebook     50         1
1      Bob    Pencil      5         4
4      Bob       Pen     10        10
5      Bob    Pencil      5         6
7      Bob    Eraser     20         2
0    10
1     5
2    50
3    20
4    10
5     5
6    50
7    20
Name: Price, dtype: int64
Customer
Alice    130
Bob       40
Name: Price, dtype: int64

In [31]:
#Write a Python program using Pandas to create a DataFrame from the given data and
# find the month with the highest average temperature.



data = {

    'Month': ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],

    'Temperature': [20, 22, 25, 27, 30, 32, 35, 34, 30, 28, 24, 21]

}



df = pd.DataFrame(data)
max_temp = df.loc[:,'Temperature'].max()
print(max_temp)
loc_max = df[df['Temperature'] == max_temp]
print(loc_max)

35
  Month  Temperature
6   Jul           35

In [32]:
data = {

    'Category': ['Fruit', 'Vegetable', 'Fruit', 'Vegetable', 'Fruit', 'Vegetable'],

    'Name': ['Apple', 'Carrot', 'Banana', 'Potato', 'Grape', 'Onion'],

    'Price': [2, 1, 1.5, 0.5, 3, 1],

    'Quantity': [10, 20, 15, 30, 5, 40]

}



df = pd.DataFrame(data)



fruits = df[df['Category'] == 'Fruit']

total_fruit_value = fruits['Price'].sum() * fruits['Quantity'].sum()

print(total_fruit_value)

195.0

In [33]:
data = {

    'Name': ['Alice', 'Bob', 'Charlie', 'David'],

    'Age': [25, 30, 35, 40],

    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']

}



df = pd.DataFrame(data)



result = df[df['Age'] >= 30].sort_values(by='Age', ascending=False).iloc[0]['City']

print(result)

Chicago

In [35]:
data = {

    'Product': ['A', 'B', 'C', 'A', 'B', 'C'],

    'Price': [100, 200, 300, 150, 250, 350],

    'Quantity': [10, 5, 7, 12, 8, 5]

}



df = pd.DataFrame(data)



total_revenue = (df['Price'] * df['Quantity']).sum()
print (total_revenue)

average_price = df['Price'].mean()

print(total_revenue, average_price)

9650
9650 225.0

In [36]:
#Write a Python program using Pandas to create a DataFrame from the given data and
#find the total amount spent per item, as well as the total amount spent by all customers.



data = {

    'Customer': ['Alice', 'Bob', 'Alice', 'Alice', 'Bob', 'Bob', 'Alice', 'Bob'],

    'Item': ['Pen', 'Pencil', 'Notebook', 'Eraser', 'Pen', 'Pencil', 'Notebook', 'Eraser'],

    'Price': [10, 5, 50, 20, 10, 5, 50, 20],

    'Quantity': [3, 4, 2, 5, 10, 6, 1, 2]

}

df = pd.DataFrame(data)

df['Total_Spent'] = df['Price'] * df['Quantity']

total_spent_per_item = df.groupby('Item')['Total_Spent'].sum()
print(total_spent_per_item)

total_spent_by_all_customers = df['Total_Spent'].sum()
print(total_spent_by_all_customers)

Item
Eraser      140
Notebook    150
Pen         130
Pencil       50
Name: Total_Spent, dtype: int64
470